<%= render partial: 'layouts/progress', locals: { current_page: @current_page, current_controller: @current_controller } %>
<% @loans.each do |loan| %>
  <div class="card">
    <h5 class="card-header card-title text-uppercase fw-bold"><%= loan.name %></h5>
    <div class="card-body">
      <p class="card-text"><span class="fw-bold">Amount received</span>: <%= loan.amount %></p>
      <p class="card-text"><span class="fw-bold">Interest</span>: <%= loan.interest %>%</p>
      <p class="card-text"><span class="fw-bold">Reason</span>: <%= loan.reason %></p>
      <p class="card-text"><span class="fw-bold">Total interest amount</span>: <%= loan.interest_amount * loan.interest_count %>, on total of <%= loan.interest_count %> interest cycles. </p>
      <%= button_to "pay #{loan.payable_amount}", repay_loan_loan_path(loan), class: 'btn btn-outline-primary' %>
    </div>
  </div>
<% end %>